.contact {
    position: relative;
    background-image: url(/src/assets/images/thira.jpg); 
    background-size: cover;
    height: 86vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#query {
    height: 150px;
}